.name{
  font-family: Georgia, serif;

}
.info{
  display: flex;
width: 100%;

  font-family: Georgia, serif;
  margin-right: 110px;
  margin-top: 60px;

}
.photo{
  width: 300px;
  border-radius: 250px;
  margin-left: 430px;
  margin-top: -50px;
}
.photosection{
  width: 60%;



}
.textsection{
  width: 50%;
  width: 400px;

}
h1{
  margin-top: 20px;
}
.myinfo{
  display: flex;
}
.linkedin i {
  font-size: 24px;
}
.github i{
  font-size: 24px;
}
.twitter i{
  font-size: 24px;
}
.telegram i{
  font-size: 24px;
}
.instagram i{
  font-size: 24px;
}
.dev i{
  font-size: 24px;
}

