*{
  font-family: Georgia, serif;
}


.container{

width: 800px;
height: 560px;
border-radius: 20px;

}
.heading{
  height: 100px;
}
.row{
  height: 230px;

}.col{
  width: 330px;
  border-radius: 10px;

  margin: 10px;
}
img{
  border-radius: 20px;
  width: 150px;
  height: 140px;
}
.heading p {
  font-size: 30px;
  padding: 20px;
}
