
<div class="container text-center">
  <div class="heading">
    <p>SKILLS</p>
  </div>
  <div class="row">
    <div class="col">
<img src="assets/images.png" alt="" class="im">
<p>ANGULAR</p>
    </div>
    <div class="col">
<img src="assets/lar.jpg" alt="">
<p>LARAVEL</p>
    </div>
    <div class="col">
<img src="assets/im.png" alt="">
<p>HTML</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
<img src="assets/java.png" alt="">
<p>JAVA</p>
    </div>
    <div class="col">
      <img src="assets/im.png" alt="">
      <p>CSS</p>
    </div>
    <div class="col">
<img src="assets/boot.png" alt="">
<p>BOOTSTRAP</p>
    </div>

  </div>
</div>

